body,
::after::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  /* border: 1px solid red; */
}

#nprogress .bar {
  background: #635dff !important;
}

.chakra-ui-light {
  background-color: #f9f9f9;
}

.btn-1 {
  display: flex;
  justify-content: right;
  width: 90%;
  /* margin: 20px 0px; */
}
.btn-1 button {
  border: #635dff 1px solid;
  background-color: white;
  color: #635dff;
  font-weight: bold;
  border-radius: 8px;
  padding: 7px 25px;
  margin: 20px 0px;
  transition: all 1ms;
}
.btn-1 button:hover {
  border: 1px solid #635dff;
  background-color: #635dff;
  color: white;
  transition: ease-in 0.3s;
}
.heartIcon:hover {
  fill: #635dff;
}
.editIcon:hover {
  color: #635dff;
  cursor: pointer;
}

.editIcon2:hover {
  cursor: pointer;
  color: red;
}

.ArrowUp:hover {
  color: #635dff;
}
.text:hover {
  color: black;
}

.textGlow {
  border: 1px solid rgba(151, 150, 150, 0.204);
}

/* .textGlow:focus{

    outline: 0px;
    border:1px solid rgb(99, 93, 255);
    box-shadow: rgb(0 0 0 / 8%) 0px 0.1rem 0.1rem inset, rgb(158 128 255 / 60%) 0px 0px 0.6rem;
} */

.ql-editor:focus {
  outline: 0px;
  border: 1px solid rgb(99, 93, 255);
  box-shadow: rgb(0 0 0 / 8%) 0px 0.1rem 0.1rem inset,
    rgb(158 128 255 / 60%) 0px 0px 0.6rem;
}
/* .ql-editor p {
  min-height: 200px;
  max-height: 700px;
} */

.hambtn:hover .sub {
  background-color: #8480ff;
}

.sideIcon:hover {
  border: 1px solid #8480ff;
}

.cm-scroller,
.cm-editor {
  height: 450px;
}

.css-n1vjwz {
  height: 0% !important;
}

.ql-snow + div {
  height: 90% !important;
}

.quill {
  height: 370px !important;
}












::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8c5eff; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}













.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #6930f9;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
